<div id="intro" class="intro">
	<div class="container">		
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">			
				<div class="intro-form">
					<div class="row">
						<h1><span class="glyphicon glyphicon-globe"> </span> ActivityBooking.net</h1>
						<h2>Путешествуйте и изучайте иностранные языки вместе с нами</h2>
					</div>
					<form class="form-inline h-center" role="form">
					  <div class="form-group">
					   <%= select_tag :course_id, 
		       		options_for_select([ "Курсы английского", "Подготовка к экзаменам","Учебный семестр/год", "Учеба/работа" ], "Выберите тип курса"), 
		       				:class=>"selectpicker", :prompt=>"Выберите тип курса", :data=>{:style=>"btn-info btn-lg"} %>
					  </div>
					  <div class="form-group">
					  		<%= select_tag :country_id, 
		       			options_for_select([ "Америка", "Великобритания","Ирландия", "Юар" ], "Выберите страну"), 
		       				:class=>"selectpicker", :prompt=>"Выберите страну", :data=>{:style=>"btn-info btn-lg"} %>  
					  </div>
					  <button type="submit" class="btn btn-success btn-lg">
							<span class="glyphicon glyphicon-search"></span>					  
					  		Начать поиск
					  </button>
					</form>	
				 </div>		
			</div>
			<div class="col-lg-2"></div>
		</div>
	</div>
</div>
 <script type="text/javascript" >
	 $("#intro").backstretch("<%= asset_path 'bg-image2.jpg' %>");
</script>