<div class="nested-fields row marBot2">
	<div class="grid_3">
	<%= f.label :course_id_id do %>
  		<%= f.select :course_id, options_from_collection_for_select(@courses, "id", "name", f.object.course_id) %>
	<% end %>
	</div>
	<div class="grid_3">
		<div class="form_btns marTop0">
		  <%= link_to_remove_association "Удалить курс", f %>
		</div>
	</div>
</div>